{% extends 'main_layout.html.twig' %}

{% block mainContent %}
    <div class="row">
        <div class="col-xl-6 center order-xl-2 mb-5 mb-xl-0">
            {% block content %}

                <h1>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>
                <br><br>
                <ul>
                    <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                    <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                    <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
                </ul>

                {% block fos_message_content %}{% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}