{% extends 'main_layout.html.twig' %}

{% block title %}
{% endblock %}

{% block mainContent %}
    <div class="col-xl-10 center">
        <div class="panel messages-panel">
            {% block fos_message_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
