<div class="card bg-secondary mb-3 text-center">
    <div class="card-body">
        <h2 class="card-title">Kol neužpildysite klausimyno, tol negalėsime jums atrinkti
            kambariokų</h2>
        <a href="{{ path('questionnaire_get') }}" class="btn btn-primary">Pildyti klausimyną</a>
    </div>
</div>