{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
    <div class="nfq-academy">{{ someVariable }}</div>
    <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
{% endblock %}
