{% extends 'main_layout.html.twig' %}

{% block title %}{{ 'Match'|trans }}{% endblock %}

{% block pageHeading %}{{ 'Match'|trans }}{% endblock %}

{% block mainContent %}
    {% if app.user.questionnaireScore and app.user.city%}
        {% include 'match/blocks/match_filter.html.twig' %}
    {% endif %}

    {% if matches is not empty %}

    <div class="container">
            {% for match in matches.currentPageResults %}
                {% include 'reusable_blocks/match_card.html.twig' %}
            {% endfor %}

            {% if matches.haveToPaginate %}
                <div class="pagerfanta">
                    {{ pagerfanta(matches, 'twitter_bootstrap4', {'prev_message': '&larr;', 'next_message': '&rarr;',
                        'css_container_class': 'pagination justify-content-center','omitFirstPage': true}) }}
                </div>
            {% endif %}

        {% endif %}

        {% if app.user.status == 'active' %}
            {% if not app.user.questionnaireScore %}
                {% include 'match/blocks/no_filled_questionnaire.html.twig' %}
            {% endif %}

            {% if not app.user.city %}
                {% include 'match/blocks/no_filled_profile.html.twig' %}
            {% endif %}

            {% if matches is empty and app.user.city and app.user.questionnaireScore %}
                {% include 'match/blocks/no_matches.html.twig' %}
            {% endif %}
        {% else %}
            {% include 'reusable_blocks/inactive_user.html.twig' %}
        {% endif %}

    </div>

{% endblock %}
