{% if match and match.status == 'pending' and match.sender_id != app.user.id %}
    <!-- Modal -->
    <div class="modal fade" id="acceptInvitationModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptModalLabel">Ar tikrai norite priimti kvietimą?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Priėmus kvietimą Jūsų el. pašto adresas bei telefono numeris bus išsiųsti Jūsų naujajam
                    kambariokui. Jūs taip pat matysite naujojo kambarioko kontaktinius duomenis jo profilyje bei
                    gausite juos el. paštu.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
                    <form action="{{ path('invitation_accept') }}" method="POST">

                        <input type="hidden" name="uuid" value="{{ match.sender_id }}">

                        <button class="btn
                                    btn-success">
                            {{ 'Accept'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}