{% extends 'base.html.twig' %}

{% block body %}
    {% for hobby in hobbiesList %}
        <li><input class="fa fa-check-square" type="checkbox"> {{ hobby.getTitle() }}</li>
    {% endfor %}
    <button type="submit">Pasirikti</button>
{% endblock %}
