{% extends 'base.html.twig' %}

{% block body %}

    <div>Kiti useriai is miesto:{{ cityName }}</div>
    {% for email in emails %}
        <li>{{ email }}<button class="btn">Like</button> <button class="btn">Not like</button> </li>
    {% endfor %}
{% endblock %}
