<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-12">
            <div class="copyright text-center text-secondary">
                &copy; 2019
                <a
                        href="#"
                        class="text-secondary font-weight-bold ml-1"
                        target="_blank"
                >{{ 'Brand name'|trans }}</a
                >
            </div>
        </div>
    </div>
</footer>