.questionnaire-form {
     max-width: 800px;
 }

.answers-container {
    max-width: 500px;
}

.answer {
    cursor: pointer;
}

.controls {
    font-size: 25px;
}

.prev, .next {
    cursor: pointer;
}


.page-content {
    min-height: calc(100vh - 300px);
}

footer .row {
    margin-right: 0px;
    margin-left: 0px;
}

.answer-emoji {
    font-size: 20px;
}

.user-match-card {
    min-width: 250px;
}

.user-match-card:hover
{
    transform: translateY(-5%);
}

.fa-circle {
    color: greenyellow;
}

.dropdown-list {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 320px;
}