{% if threads %}
    <div class="tab-content">
        <div id="inbox" class="contacts-outter-wrapper tab-pane active">
            <div class="contacts-outter">
                <ul class="list-unstyled contacts">
                    {% set basePath = '/dashboard/messages/' %}
                    {% for thread in threads %}
                        <li class="vcentered info-combo {{ app.request.pathInfo == basePath ~ thread.id ? 'active'}}">

                            <div class="message-count">1</div>
                            <img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            <div class="vcentered info-combo">
                                <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" >
                                <span>
                                    {% set participant1 = thread.participants[0].username %}
                                    {% set participant2 = thread.participants[1].username %}
                                    <h3 class="no-margin-bottom name">
                                        {{ app.user.username == participant1 ? participant2 : participant1 }}
                                    </h3>
                                    <h5>
                                        {{ thread.lastMessage.body }}
                                    </h5>
                                </span>
                                </a>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

